In [1]:
import pandas as pd
import geopandas
import numpy as np
import dask.dataframe as dd
from dask.distributed import Client
import distributed
import shapely
from shapely.geometry import Point

client = Client(set_as_default=True)

In [2]:
# citibike = dd.read_parquet('/data/citibike.parquet')
# subway = dd.read_parquet('/data/subway.parquet')

In [ ]:
yellow = dd.read_parquet('/data/yellow.parquet')
yellow['triptype'] = 'yellow'
green = dd.read_parquet('/data/green.parquet')
green['triptype'] = 'green'
uber = dd.read_parquet('/data/uber.parquet')
uber['triptype'] = 'uber'


taxi = yellow.append(green).append(uber).set_index('pickup_datetime', npartitions=2000, compute=False)
taxi.to_parquet('/data/alltaxi.parquet', compression='SNAPPY', object_encoding='json')

In [3]:
location_fix = taxi[(taxi.pickup_latitude.notnull()) | (taxi.pickup_longitude.notnull())
                  | (taxi.dropoff_latitude.notnull()) | (taxi.dropoff_longitude.notnull())]

In [26]:
smallframe = location_fix.get_partition(2).compute()
smallframe.head()

,dropoff_datetime,dropoff_latitude,dropoff_location_id,dropoff_longitude,ehail_fee,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,...,pickup_longitude,rate_code_id,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,trip_type,vendor_id,triptype
0,2010-01-09 21:45:00,40.735600,-999,-73.998953,NaN,0.5,12.5,NaN,0.5,1,...,-73.958018,1,None,0.0,0.0,13.5,4.22,-999,VTS,yellow
1,2010-01-13 13:47:00,40.787180,-999,-73.947842,NaN,0.0,10.5,NaN,0.5,1,...,-73.974443,1,None,0.0,0.0,11.0,2.90,-999,VTS,yellow
2,2010-01-06 17:36:00,40.744515,-999,-73.984880,NaN,1.0,6.1,NaN,0.5,2,...,-73.972717,1,None,2.0,0.0,9.6,1.07,-999,VTS,yellow
3,2010-01-17 01:04:00,40.740017,-999,-73.985965,NaN,0.5,6.9,NaN,0.5,1,...,-73.967425,1,None,0.0,0.0,7.9,1.80,-999,VTS,yellow
4,2010-01-14 00:34:00,40.736997,-999,-74.007117,NaN,0.5,4.1,NaN,0.5,1,...,-73.999807,1,None,1.0,0.0,6.1,0.70,-999,VTS,yellow

In [66]:
%%time
geom1 = [Point(xy) for xy in zip(smallframe.dropoff_longitude, smallframe.dropoff_latitude)]
geom2 = [Point(xy) for xy in zip(smallframe.pickup_longitude, smallframe.pickup_latitude)]

CPU times: user 56 s, sys: 836 ms, total: 56.8 s
Wall time: 55.7 s

In [47]:
smallframe2 = geopandas.GeoDataFrame(smallframe[['geometry']], crs={'init': 'epsg:4326'}, geometry=geom1)
smallframe2

                                     geometry
0                  POINT (-73.998953 40.7356)
1         POINT (-73.94784199999998 40.78718)
2                 POINT (-73.98488 40.744515)
3        POINT (-73.98596499999998 40.740017)
4        POINT (-74.00711699999998 40.736997)
5                POINT (-73.995925 40.744153)
6        POINT (-73.95941500000001 40.780097)
7                POINT (-73.953935 40.613213)
8        POINT (-73.99626499999998 40.715855)
9                 POINT (-73.99329 40.739867)
10               POINT (-73.900082 40.770145)
11               POINT (-73.989672 40.736165)
12               POINT (-73.994387 40.752085)
13               POINT (-73.975695 40.759447)
14       POINT (-73.80678799999998 40.685025)
15       POINT (-73.97848999999998 40.745218)
16               POINT (-73.992233 40.737482)
17               POINT (-73.974248 40.736983)
18       POINT (-73.95429199999998 40.778847)
19               POINT (-73.955815 40.779467)
20                POINT (-73.97848 40.752478)
21       POINT (-73.97833699999998 40.766628)
22        POINT (-73.95012199999998 40.78385)
23       POINT (-73.99741799999998 40.722463)
24               POINT (-73.975387 40.795765)
25       POINT (-73.99461499999998 40.752633)
26       POINT (-73.87322799999998 40.774327)
27                POINT (-73.98886 40.748057)
28       POINT (-73.95807999999998 40.772983)
29                POINT (-73.982062 40.76265)
...                                       ...
2092226          POINT (-73.956991 40.745852)
2092227          POINT (-73.959861 40.818532)
2092228          POINT (-74.002121 40.724616)
2092229  POINT (-73.95843600000001 40.743472)
2092230           POINT (-73.95766 40.770194)
2092231          POINT (-73.977597 40.751162)
2092232          POINT (-73.942696 40.787417)
2092233  POINT (-73.97955799999998 40.790464)
2092234                           POINT (0 0)
2092235  POINT (-73.97330700000001 40.743905)
2092236          POINT (-73.978392 40.757802)
2092237           POINT (-73.95039 40.821323)
2092238  POINT (-74.00238199999998 40.740096)
2092239  POINT (-73.92997599999998 40.860577)
2092240          POINT (-73.979123 40.739694)
2092241          POINT (-73.961341 40.756234)
2092242  POINT (-73.95645500000001 40.767917)
2092243          POINT (-73.985584 40.748055)
2092244          POINT (-73.985809 40.751119)
2092245          POINT (-73.990807 40.750241)
2092246          POINT (-73.907194 40.776279)
2092247            POINT (-73.9941 40.741117)
2092248  POINT (-74.00723600000001 40.741125)
2092249          POINT (-74.001165 40.731585)
2092250          POINT (-73.977008 40.761793)
2092251   POINT (-73.95827800000001 40.76167)
2092252          POINT (-73.983056 40.722629)
2092253  POINT (-73.95344299999998 40.783622)
2092254           POINT (-73.98778 40.779287)
2092255          POINT (-74.004255 40.722683)

[2092256 rows x 1 columns]

In [48]:
smallframe3 = geopandas.GeoDataFrame(smallframe[['geometry']], crs={'init': 'epsg:4326'}, geometry=geom2)
smallframe3

                                     geometry
0          POINT (-73.95801799999998 40.7787)
1        POINT (-73.97444299999998 40.750512)
2                POINT (-73.972717 40.752623)
3         POINT (-73.96742500000001 40.75656)
4                POINT (-73.999807 40.739613)
5                POINT (-74.000597 40.729088)
6        POINT (-73.98012699999998 40.781337)
7        POINT (-74.01854199999998 40.632278)
8                POINT (-74.016042 40.705033)
9        POINT (-74.00465800000001 40.741877)
10       POINT (-73.98341000000001 40.759183)
11               POINT (-74.002228 40.721638)
12       POINT (-73.98856999999998 40.719453)
13       POINT (-73.97763999999998 40.746485)
14       POINT (-73.80718799999998 40.685833)
15               POINT (-74.007688 40.715283)
16               POINT (-73.976403 40.759628)
17       POINT (-73.97602500000001 40.748285)
18       POINT (-73.98224500000001 40.770357)
19                POINT (-73.95106 40.774457)
20               POINT (-73.992165 40.753908)
21               POINT (-73.980597 40.779923)
22               POINT (-73.982698 40.745383)
23       POINT (-73.99176199999998 40.731328)
24       POINT (-73.98706799999998 40.784065)
25       POINT (-74.00073999999998 40.758038)
26       POINT (-73.98219799999998 40.762373)
27       POINT (-73.99269700000001 40.743097)
28                POINT (-73.98115 40.769023)
29       POINT (-73.96212699999998 40.778847)
...                                       ...
2092226           POINT (-73.96258 40.766284)
2092227          POINT (-73.963774 40.807986)
2092228  POINT (-74.00343499999998 40.732516)
2092229  POINT (-73.96853400000001 40.754958)
2092230          POINT (-73.985252 40.760553)
2092231          POINT (-73.974913 40.741724)
2092232  POINT (-73.98065099999998 40.751803)
2092233  POINT (-73.98174799999998 40.760753)
2092234                           POINT (0 0)
2092235          POINT (-73.981055 40.747103)
2092236           POINT (-73.95585 40.778162)
2092237  POINT (-73.97139300000001 40.794007)
2092238          POINT (-73.991873 40.734897)
2092239  POINT (-73.95659399999998 40.784291)
2092240  POINT (-73.98279999999998 40.730835)
2092241  POINT (-73.87294900000001 40.774156)
2092242  POINT (-73.96641599999998 40.761699)
2092243  POINT (-74.00593600000001 40.748636)
2092244  POINT (-73.78283999999998 40.648891)
2092245          POINT (-73.973077 40.764024)
2092246          POINT (-73.987397 40.742223)
2092247          POINT (-73.982026 40.762606)
2092248  POINT (-73.98520600000001 40.756287)
2092249  POINT (-73.99872899999998 40.717207)
2092250  POINT (-73.97474599999998 40.761774)
2092251  POINT (-73.96072700000001 40.764245)
2092252          POINT (-73.992569 40.728543)
2092253          POINT (-73.965913 40.762125)
2092254          POINT (-73.988207 40.774665)
2092255          POINT (-74.006359 40.736951)

[2092256 rows x 1 columns]

In [42]:
shapefile = geopandas.read_file('../shapefiles/taxi_zones_latlon.shp')
shapefile.drop(['OBJECTID', "Shape_Area", "Shape_Leng", "borough", "zone"], axis=1, inplace=True)
shapefile.head()

   LocationID                                           geometry
0           1  POLYGON ((-74.18445299999998 40.6949959999999,...
1           2  (POLYGON ((-73.82337597260664 40.6389870471767...
2           3  POLYGON ((-73.84792614099986 40.87134223399993...
3           4  POLYGON ((-73.9717741096532 40.72582128133706,...
4           5  POLYGON ((-74.17421738099991 40.56256808599988...

In [ ]:
def geomerge(df):
    shapefile = geopandas.read_file('../shapefiles/taxi_zones_latlon.shp')

In [52]:
%%time
joined1 = geopandas.sjoin(smallframe2, shapefile, op='intersects')
joined2 = geopandas.sjoin(smallframe3, shapefile, op='intersects')
joined1 = joined1.drop(['geometry', 'index_right'], axis=1)
joined2 = joined2.drop(['geometry', 'index_right'], axis=1)

CPU times: user 6min 42s, sys: 55.9 s, total: 7min 38s
Wall time: 6min 35s

In [59]:
joined1.sort_index(inplace=True)
joined1

         LocationID
0               249
1                75
2               164
3               107
4               158
5                90
6               236
7               165
8               148
9               234
10              223
11              234
12               68
13              161
14              216
15              137
16              234
17              137
18              236
19              236
20              161
21               43
22              263
23              144
24              238
25               68
26              138
27              164
28              141
29              230
...             ...
2092225         246
2092226         145
2092227         152
2092228         211
2092229         145
2092230         141
2092231         170
2092232          75
2092233         238
2092235         233
2092236         161
2092237         152
2092238          68
2092239         243
2092240         137
2092241         229
2092242         141
2092243         164
2092244         164
2092245         186
2092246         223
2092247         234
2092248         158
2092249         249
2092250         161
2092251         140
2092252          79
2092253         236
2092254         143
2092255         211

[2043006 rows x 1 columns]

In [60]:
joined2.sort_index(inplace=True)
joined2

         LocationID
0               236
1               233
2               233
3               229
4                90
5               114
6               239
7                14
8               261
9                68
10              230
11              211
12              148
13              170
14              215
15              231
16              161
17              170
18              142
19              262
20              100
21              239
22              164
23              113
25              246
26              230
27               90
28               43
29              236
30              148
...             ...
2092225         236
2092226         141
2092227         166
2092228         249
2092229         229
2092230         230
2092231         137
2092232         170
2092233         230
2092235         170
2092236         236
2092237         238
2092238         113
2092239         236
2092240          79
2092241         138
2092242         141
2092243         246
2092244         132
2092245         163
2092246         234
2092247         230
2092248         230
2092249         144
2092250         161
2092251         141
2092252         113
2092253         141
2092254         143
2092255         158

[2044030 rows x 1 columns]

In [63]:
smallframe.dropoff_location_id = joined1.LocationID.astype(np.int64)
smallframe.pickup_location_id = joined2.LocationID.astype(np.int64)

In [64]:
smallframe

,dropoff_datetime,dropoff_latitude,dropoff_location_id,dropoff_longitude,ehail_fee,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,...,rate_code_id,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,trip_type,vendor_id,triptype,geometry
0,2010-01-09 21:45:00,40.735600,249.0,-73.998953,NaN,0.5,12.5,NaN,0.5,1,...,1,None,0.00,0.00,13.50,4.22,-999,VTS,yellow,POINT (-73.998953 40.7356)
1,2010-01-13 13:47:00,40.787180,75.0,-73.947842,NaN,0.0,10.5,NaN,0.5,1,...,1,None,0.00,0.00,11.00,2.90,-999,VTS,yellow,POINT (-73.94784199999998 40.78718)
2,2010-01-06 17:36:00,40.744515,164.0,-73.984880,NaN,1.0,6.1,NaN,0.5,2,...,1,None,2.00,0.00,9.60,1.07,-999,VTS,yellow,POINT (-73.98488 40.744515)
3,2010-01-17 01:04:00,40.740017,107.0,-73.985965,NaN,0.5,6.9,NaN,0.5,1,...,1,None,0.00,0.00,7.90,1.80,-999,VTS,yellow,POINT (-73.98596499999998 40.740017)
4,2010-01-14 00:34:00,40.736997,158.0,-74.007117,NaN,0.5,4.1,NaN,0.5,1,...,1,None,1.00,0.00,6.10,0.70,-999,VTS,yellow,POINT (-74.00711699999998 40.736997)
5,2010-01-10 01:44:00,40.744153,90.0,-73.995925,NaN,0.5,6.1,NaN,0.5,1,...,1,None,0.00,0.00,7.10,1.33,-999,VTS,yellow,POINT (-73.995925 40.744153)
6,2010-01-09 13:54:00,40.780097,236.0,-73.959415,NaN,0.0,7.7,NaN,0.5,1,...,1,None,0.00,0.00,8.20,1.67,-999,VTS,yellow,POINT (-73.95941500000001 40.780097)
7,2010-01-24 17:40:00,40.613213,165.0,-73.953935,NaN,0.0,13.7,NaN,0.5,5,...,1,None,0.00,0.00,14.20,4.43,-999,VTS,yellow,POINT (-73.953935 40.613213)
8,2010-01-03 17:21:00,40.715855,148.0,-73.996265,NaN,0.0,6.9,NaN,0.5,1,...,1,None,2.00,0.00,9.40,1.67,-999,VTS,yellow,POINT (-73.99626499999998 40.715855)
9,2010-01-12 18:49:00,40.739867,234.0,-73.993290,NaN,1.0,6.5,NaN,0.5,2,...,1,None,1.00,0.00,9.00,1.44,-999,VTS,yellow,POINT (-73.99329 40.739867)
10,2010-01-21 03:30:00,40.770145,223.0,-73.900082,NaN,0.5,17.7,NaN,0.5,1,...,1,None,3.64,0.00,22.34,6.80,-999,VTS,yellow,POINT (-73.900082 40.770145)
11,2010-01-15 15:37:00,40.736165,234.0,-73.989672,NaN,0.0,6.9,NaN,0.5,1,...,1,None,0.00,0.00,7.40,1.37,-999,VTS,yellow,POINT (-73.989672 40.736165)
12,2010-01-30 03:00:00,40.752085,68.0,-73.994387,NaN,0.5,10.9,NaN,0.5,1,...,1,None,2.00,0.00,13.90,3.20,-999,VTS,yellow,POINT (-73.994387 40.752085)
13,2010-01-22 07:30:00,40.759447,161.0,-73.975695,NaN,0.0,5.3,NaN,0.5,1,...,1,None,0.00,0.00,5.80,1.21,-999,VTS,yellow,POINT (-73.975695 40.759447)
14,2010-01-22 13:22:00,40.685025,216.0,-73.806788,NaN,0.0,54.5,NaN,0.5,1,...,1,None,7.00,0.00,62.00,0.67,-999,VTS,yellow,POINT (-73.80678799999998 40.685025)
15,2010-01-17 01:55:00,40.745218,137.0,-73.978490,NaN,0.5,9.7,NaN,0.5,1,...,1,None,2.00,0.00,12.70,3.14,-999,VTS,yellow,POINT (-73.97848999999998 40.745218)
16,2010-01-05 12:08:00,40.737482,234.0,-73.992233,NaN,0.0,6.1,NaN,0.5,5,...,1,None,0.00,0.00,6.60,1.76,-999,VTS,yellow,POINT (-73.992233 40.737482)
17,2010-01-10 14:31:00,40.736983,137.0,-73.974248,NaN,0.0,6.1,NaN,0.5,5,...,1,None,0.00,0.00,6.60,1.36,-999,VTS,yellow,POINT (-73.974248 40.736983)
18,2010-01-24 20:27:00,40.778847,236.0,-73.954292,NaN,0.5,8.9,NaN,0.5,1,...,1,None,1.00,0.00,10.90,2.46,-999,VTS,yellow,POINT (-73.95429199999998 40.778847)
19,2010-01-09 19:49:00,40.779467,236.0,-73.955815,NaN,0.0,4.1,NaN,0.5,2,...,1,None,0.00,0.00,4.60,0.57,-999,VTS,yellow,POINT (-73.955815 40.779467)
20,2010-01-11 17:25:00,40.752478,161.0,-73.978480,NaN,1.0,6.1,NaN,0.5,1,...,1,None,0.00,0.00,7.60,0.92,-999,VTS,yellow,POINT (-73.97848 40.752478)
21,2010-01-10 16:54:00,40.766628,43.0,-73.978337,NaN,0.0,6.1,NaN,0.5,1,...,1,None,0.00,0.00,6.60,1.41,-999,VTS,yellow,POINT (-73.97833699999998 40.766628)
22,2010-01-13 23:14:00,40.783850,263.0,-73.950122,NaN,0.5,11.3,NaN,0.5,2,...,1,None,2.00,0.00,14.30,3.33,-999,VTS,yellow,POINT (-73.95012199999998 40.78385)
23,2010-01-18 18:08:00,40.722463,144.0,-73.997418,NaN,0.0,4.5,NaN,0.5,1,...,1,None,0.00,0.00,5.00,0.77,-999,VTS,yellow,POINT (-73.99741799999998 40.722463)
24,2010-01-22 14:46:00,40.795765,238.0,-73.975387,NaN,0.0,5.3,NaN,0.5,1,...,1,None,0.00,0.00,5.80,1.20,-999,VTS,yellow,POINT (-73.975387 40.795765)
25,2010-01-30 12:59:00,40.752633,68.0,-73.994615,NaN,0.0,4.5,NaN,0.5,2,...,1,None,0.00,0.00,5.00,0.75,-999,VTS,yellow,POINT (-73.99461499999998 40.752633)
26,2010-01-15 07:13:00,40.774327,138.0,-73.873228,NaN,0.0,28.1,NaN,0.5,1,...,1,None,5.00,4.57,38.17,10.97,-999,VTS,yellow,POINT (-73.87322799999998 40.774327)
27,2010-01-05 21:35:00,40.748057,164.0,-73.988860,NaN,0.5,3.3,NaN,0.5,1,...,1,None,0.00,0.00,4.30,0.04,-999,VTS,yellow,POINT (-73.98886 40.748057)
28,2010-01-29 11:43:16,40.772983,141.0,-73.958080,NaN,0.0,12.9,NaN,0.5,1,...,1,None,2.65,0.00,16.05,3.30,-999,DDS,yellow,POINT (-73.95807999999998 40.772983)
29,2010-01-23 12:39:00,40.762650,230.0,-73.982062,NaN,0.0,6.9,NaN,0.5,2,...,1,None,0.00,0.00,7.40,1.84,-999,VTS,yellow,POINT (-73.982062 40.76265)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2092226,2010-01-31 19:40:18,40.745852,145.0,-73.956991,NaN,0.0,12.5,NaN,0.5,1,...,1,0,0.00,0.00,13.00,3.20,-999,CMT,yellow,POINT (-73.956991 40.745852)
2092227,2010-01-25 21:23:53,40.818532,152.0,-73.959861,NaN,0.5,4.5,NaN,0.5,4,...,1,0,0.00,0.00,5.50,0.80,-999,CMT,yellow,POINT (-73.959861 40.818532)
2092228,2010-01-10 13:43:58,40.724616,211.0,-74.002121,NaN,0.0,4.1,NaN,0.5,1,...,1,0,0.69,0.00,5.29,0.70,-999,CMT,yellow,POINT (-74.002121 40.724616)
2092229,2010-01-25 21:50:01,40.743472,145.0,-73.958436,NaN,0.5,7.7,NaN,0.5,1,...,1,0,0.00,4.57,13.27,2.50,-999,CMT,yellow,POINT (-73.95843600000001 40.743472)
2092230,2010-01-25 17:45:48,40.770194,141.0,-73.957660,NaN,1.0,8.9,NaN,0.5,1,...,1,0,0.00,0.00,10.40,2.20,-999,CMT,yellow,POINT (-73.95766 40.770194)
2092231,2010-01-05 08:41:56,40.751162,170.0,-73.977597,NaN,0.0,5.3,NaN,0.5,1,...,1,0,0.00,0.00,5.80,0.90,-999,CMT,yellow,POINT (-73.977597 40.751162)
2092232,2010-01-25 13:58:11,40.787417,75.0,-73.942696,NaN,0.0,12.1,NaN,0.5,1,...,1,0,0.00,0.00,12.60,3.70,-999,CMT,yellow,POINT (-73.942696 40.787417)
2092233,2010-01-25 18:57:13,40.790464,238.0,-73.979558,NaN,1.0,8.5,NaN,0.5,1,...,1,0,0.00,0.00,10.00,2.60,-999,CMT,yellow,POINT (-73.97955799999998 40.790464)
2092234,2010-01-20 08:20:00,0.000000,NaN,0.000000,NaN,0.0,4.9,NaN,0.5,5,...,1,None,0.00,0.00,5.40,0.94,-999,VTS,yellow,POINT (0 0)
2092235,2010-01-28 22:12:50,40.743905,233.0,-73.973307,NaN,0.5,4.1,NaN,0.5,1,...,1,0,0.00,0.00,5.10,0.40,-999,CMT,yellow,POINT (-73.97330700000001 40.743905)
2092236,2010-01-07 21:34:17,40.757802,161.0,-73.978392,NaN,0.5,9.3,NaN,-1.0,1,...,1,None,0.00,0.00,10.30,2.40,-999,DDS,yellow,POINT (-73.978392 40.757802)
2092237,2010-01-05 14:48:09,40.821323,152.0,-73.950390,NaN,0.0,8.1,NaN,0.5,1,...,1,0,0.00,0.00,8.60,2.40,-999,CMT,yellow,POINT (-73.95039 40.821323)
2092238,2010-01-17 00:33:47,40.740096,68.0,-74.002382,NaN,0.5,6.9,NaN,0.5,3,...,1,0,0.00,0.00,7.90,0.90,-999,CMT,yellow,POINT (-74.00238199999998 40.740096)
2092239,2010-01-23 09:00:24,40.860577,243.0,-73.929976,NaN,0.0,17.3,NaN,0.5,1,...,1,0,0.00,0.00,17.80,6.50,-999,CMT,yellow,POINT (-73.92997599999998 40.860577)
2092240,2010-01-14 15:05:26,40.739694,137.0,-73.979123,NaN,0.0,3.7,NaN,0.5,1,...,1,0,0.00,0.00,4.20,0.80,-999,CMT,yellow,POINT (-73.979123 40.739694)
2092241,2010-01-07 20:28:18,40.756234,229.0,-73.961341,NaN,1.0,28.1,NaN,0.5,1,...,1,0,5.92,0.00,35.52,12.20,-999,CMT,yellow,POINT (-73.961341 40.756234)
2092242,2010-01-22 19:07:56,40.767917,141.0,-73.956455,NaN,1.0,4.9,NaN,0.5,1,...,1,0,0.00,0.00,6.40,0.90,-999,CMT,yellow,POINT (-73.95645500000001 40.767917)
2092243,2010-01-13 12:06:01,40.748055,164.0,-73.985584,NaN,0.0,7.3,NaN,0.5,1,...,1,0,1.56,0.00,9.36,1.70,-999,CMT,yellow,POINT (-73.985584 40.748055)
2092244,2010-01-26 00:46:35,40.751119,164.0,-73.985809,NaN,0.0,45.0,NaN,0.5,3,...,1,0,7.51,4.57,57.58,17.00,-999,CMT,yellow,POINT (-73.985809 40.751119)
2092245,2010-01-26 20:16:40,40.750241,186.0,-73.990807,NaN,1.0,7.3,NaN,0.5,1,...,1,0,0.00,0.00,8.80,1.60,-999,CMT,yellow,POINT (-73.990807 40.750241)
2092246,2010-01-09 02:16:01,40.776279,223.0,-73.907194,NaN,0.5,16.5,NaN,0.5,1,...,1,0,2.62,0.00,20.12,6.20,-999,CMT,yellow,POINT (-73.907194 40.776279)
2092247,2010-01-21 22:28:42,40.741117,234.0,-73.994100,NaN,0.5,6.9,NaN,0.5,1,...,1,0,0.00,0.00,7.90,1.80,-999,CMT,yellow,POINT (-73.9941 40.741117)
2092248,2010-01-11 19:02:05,40.741125,158.0,-74.007236,NaN,1.0,7.3,NaN,0.5,2,...,1,0,0.00,0.00,8.80,1.90,-999,CMT,yellow,POINT (-74.00723600000001 40.741125)
2092249,2010-01-26 20:50:36,40.731585,249.0,-74.001165,NaN,0.5,5.7,NaN,0.5,1,...,1,0,0.00,0.00,6.70,1.10,-999,CMT,yellow,POINT (-74.001165 40.731585)
2092250,2010-01-02 11:29:45,40.761793,161.0,-73.977008,NaN,0.0,2.9,NaN,0.5,1,...,1,0,0.00,0.00,3.40,0.20,-999,CMT,yellow,POINT (-73.977008 40.761793)
2092251,2010-01-28 20:28:00,40.761670,140.0,-73.958278,NaN,0.5,5.3,NaN,0.5,5,...,1,None,0.00,0.00,6.30,0.84,-999,VTS,yellow,POINT (-73.95827800000001 40.76167)
2092252,2010-01-06 10:43:50,40.722629,79.0,-73.983056,NaN,0.0,4.9,NaN,0.5,1,...,1,0,1.08,0.00,6.48,0.90,-999,CMT,yellow,POINT (-73.983056 40.722629)
2092253,2010-01-16 18:24:19,40.783622,236.0,-73.953443,NaN,0.0,6.9,NaN,0.5,1,...,1,0,1.48,0.00,8.88,1.80,-999,CMT,yellow,POINT (-73.95344299999998 40.783622)
2092254,2010-01-04 23:25:17,40.779287,143.0,-73.987780,NaN,0.5,3.3,NaN,0.5,1,...,1,0,0.00,0.00,4.30,0.40,-999,CMT,yellow,POINT (-73.98778 40.779287)
2092255,2010-01-25 22:58:50,40.722683,211.0,-74.004255,NaN,0.5,6.5,NaN,0.5,1,...,1,0,1.12,0.00,8.62,1.40,-999,CMT,yellow,POINT (-74.004255 40.722683)

In [ ]:
# yellow = spark.sql("SELECT *, 'yellow' from parquet.`/data/yellow.parquet`").withColumnRenamed("yellow", 'triptype')
# yellow.createOrReplaceTempView('yellow')

# green = spark.sql("SELECT *, 'green' from parquet.`/data/green.parquet`").withColumnRenamed("green", 'triptype')
# green.createOrReplaceTempView('green')

# uber = spark.sql("SELECT *, 'uber' from parquet.`/data/uber.parquet`").withColumnRenamed("uber", 'triptype')
# uber.createOrReplaceTempView('uber')
# taxi_trips = yellow.unionAll(green).unionAll(uber)
# taxi_trips.createOrReplaceTempView('taxi_trips')

# subway = spark.sql('SELECT * from parquet.`/data/subway.parquet`')
# subway.createOrReplaceTempView('subway')

# citibike = spark.sql('SELECT * from parquet.`/data/citibike.parquet`')
# citibike.createOrReplaceTempView('citibike')

In [ ]:
# spark.sql("SELECT dropoff_latitude, dropoff_longitude from taxi_trips where triptype='uber' limit 10").show()